@import url('https://fonts.googleapis.com/css2?family=Monda:wght@400;700&display=swap');

* {
  font-family: "Monda";
}

body {
  background-color:#121212;
  color: #ffffff;
}

.ProfilePic {
  margin-top: 40px;
  margin-left: 20px;
  border-radius: 10%
}

.title {
  margin-right: 50px;
  display: inline-block;
}
.SearchBar {
  margin-left: 0px;
  display: inline-block;
}

.SearchBar input {
  border-radius: 15px;
  padding-left: 10px;
  padding-right: 100px;
  margin-right: 5px;
  outline:none;
}

.stats {
  margin-right: 100px;
  display: inline-block;
}

.Game {
  float:right;
  margin-right: 100px;
}

.stats h3 {
  display: inline-block;
  margin-right: 50px;
}
